@model GiftModel

@if (Model.Id > 0)
{
    <div class="card-body">
        @await Html.PartialAsync("Table", new DataTablesModel
        {
            Name = "products-grid",
            UrlRead = new DataUrl("ProductList", "Gift", new RouteValueDictionary { [nameof(Model.GiftProductSearchModel.GiftId)] = Model.GiftProductSearchModel.GiftId }),
            UrlDelete = new DataUrl("ProductDelete", "Gift", new RouteValueDictionary { [nameof(Model.GiftProductSearchModel.GiftId)] = Model.GiftProductSearchModel.GiftId }),
            BindColumnNameActionDelete = nameof(GiftProductModel.ProductId),
            Length = Model.GiftProductSearchModel.PageSize,
            LengthMenu = Model.GiftProductSearchModel.AvailablePageSizes,
            ColumnCollection = new List<ColumnProperty>
            {
                new ColumnProperty(nameof(GiftProductModel.ProductName))
                {
                    Title = T("Admin.Promotions.Gifts.AppliedToProducts.Product").Text
                },
                new ColumnProperty(nameof(GiftProductModel.ProductId))
                {
                    Title = T("Admin.Common.View").Text,
                    Width = "150",
                    ClassName =  NopColumnClassDefaults.Button,
                    Render = new RenderButtonView(new DataUrl("~/Admin/Product/Edit/"))
                },
                new ColumnProperty(nameof(GiftProductModel.ProductId))
                {
                    Title = T("Admin.Common.Delete").Text,
                    Width = "150",
                    Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                    ClassName =  NopColumnClassDefaults.Button
                }
            }
        })
    </div>
    <div class="card-footer">
        <button type="submit" id="btnAddNewProduct" onclick="javascript:OpenWindow('@(Url.Action("ProductAddPopup", "Gift", new { giftId = Model.Id, btnId = "btnRefreshProducts", formId = "gift-form" }))', 800, 800, true); return false;" class="btn btn-primary">
            @T("Admin.Promotions.Gifts.AppliedToProducts.AddNew")
        </button>
        <button type="submit" id="btnRefreshProducts" style="display: none"></button>
        <script>
            $(document).ready(function () {
                $('#btnRefreshProducts').click(function () {
                    //refresh grid
                    updateTable('#products-grid');
                    //return false to don't reload a page
                    return false;
                });
            });
        </script>
    </div>
}
else
{
    <div class="card-body">
        @T("Admin.Promotions.Gifts.AppliedToProducts.SaveBeforeEdit")
    </div>
}